name: Call foo

on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/checkout@v6
      with:
        repository: kaihendry/pyunderstand
        path: pyunderstand
    - run: echo 'def foo(): return "local edit"' > pyunderstand/pyunderstand/__init__.py
    - uses: astral-sh/setup-uv@v7
    - run: uv add --editable ./pyunderstand
    - run: uv sync
    - run: uv run main.py
